doctype
html
  head
    title #{title}

    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset="utf-8")
    meta(name="generator", content="Bootply")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")


    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker3.standalone.min.css')
    link(rel='stylesheet', href='/lib/bootstrap-calendar/css/calendar.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')

    link(rel="stylesheet", href="css/screen.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
  body
    //- header
    //-   h1 My Site
    //- .container
    //-   .main-content
    //-     block content
    //-   .sidebar
    //-     block sidebar
    //- footer
    //-   p Running on node with Express, Jade and Stylus

    nav.navbar.navbar-default
      .container
        .navbar-header
          a(href="#").navbar-brand Eren Yatçılık

    .container
      div
        ul(role="tablist").nav.nav-pills.nav-justified
          li(role="presentation").active
            a(href="#calendarYatch", aria-controls="profile", role="tab", data-toggle="tab") Takvim

          li(role="presentation")
            a(href="#register", aria-controls="register", role="tab", data-toggle="tab") Kayıt

        .tab-content
          div(role="tabpanel").tab-pane.active#calendarYatch
            .page-header
              .pull-right.form-inline
                .btn-group
                  button(data-calendar-nav="prev").btn.btn-primary <<
                  button(data-calendar-nav="today").btn Today
                  button(data-calendar-nav="next").btn.btn-primary >>
                .btn-group
                    button(data-calendar-view="year").btn.btn-warning Year
                    button(data-calendar-view="month").btn.btn-warning.active Month
                    button(data-calendar-view="week").btn.btn-warning Week
                    button(data-calendar-view="day").btn.btn-warning Day
              h3
            #calendar
          div(role="tabpanel").tab-pane#register
            form(method="post", action="kaydet", role="form", data-toggle="validator").form-horizontal
              .form-group
                label.col-sm-2.control-label Tekne
                .col-sm-10
                  select(name="bootType", required data-error="Tekne seçmediniz!").form-control
                    option(value="") Seçiniz
                    each boat in model.boats
                      option(value="#{ boat._id }") #{ boat.name }
                  div.help-block.with-errors
              .form-group
                label.col-sm-2.control-label Başlık
                .col-sm-10
                  input(name="eventSubject", required data-error="Etkinliğe ait bir başlık girmediniz!", value="Düğün Töreni").form-control.title-event
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Tarih
                .col-sm-10
                  input(data-provide="datepicker", name="startDate", required, type="date", data-error="Etkinliğin başlangiç tarihini giriniz!", value="2016-08-04").form-control
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Saat
                .col-sm-10
                  input(placeholder="00:00", name="startTime", required, type="number", data-error="Etkinliğin başlangıç saatini giriniz!", value="10").form-control
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Kişi Sayısı
                .col-sm-10
                  input(name="guestCount", required, type="number", data-error="Etkinliği katılacak kişi sayısını giriniz!", value="150").form-control
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Başlangıç - Bitiş Yeri
                .col-sm-10
                  input(style="margin-bottom:3px", name="startLocation", required, data-error="Başlangıç yerini giriniz!", value="KARAKÖY").form-control 
                  input(name="endLocation", required, data-error="Bitiş yerini giriniz!", value="KADIKÖY").form-control 
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Ödeme
                .col-sm-10
                  input(style="width:90%; display:inline-block; margin-right:3px;", name="payment", required, type="number", data-error="Ödeme miktarını giriniz!", value="1250").form-control
                  label TL
                  div.help-block.with-errors
              .form-group
                  label.col-sm-2.ontrol-label Açıklama
                  div.col-sm-10
                    textarea(rows="5", name="eventDescription", required, data-error="Etkinlik açıklamasını giriniz!").form-control Yemekli düğün töreni
                    div.help-block.with-errors
              .form-group
                div.col-sm-offset-2.col-sm-10
                  .checkbox
                    label
                      input(type="checkbox", name="hasMeal",checked="checked")
                      |Yemekli
                      div.help-block.with-errors
              .form-group
                div.col-sm-offset-2.col-sm-10
                  input(type="submit", value="Tamam", name="saveEvent").btn.btn-success.pull-right.event-send

          div(tabindex="1", role="dialog", aria-labelledby="myModalLabel").modal.fade#events-modal
            .modal-dialog(role="document")
              .modal-header
                button(type="button", data-dismiss="modal", aria-label="Close").close
                  span(aria-hidden="true") &times;
                h4().modal-title#myModalLabel Modal title
              .modal-body
              .modal-footer
                button(type="button", data-dismiss="modal").btn.btn-default Close
                button(type="button", data-dismiss="modal").btn.btn-primary Save changes

      //- #events-modal.modal.hide.fade
      //-   .modal-header
      //-     button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
      //-     h3 Event
      //-   .modal-body(style="height: 400px")
      //-   .modal-footer
      //-     a(href="#", data-dismiss="modal").btn Close

      //- Container Bitiyor

    hr
    hr
    hr
    footer
      .container
        i Eren Yatçılık
        a(href="#").pull-right up

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    //- script(src="js/bootstrap.min.js")
    //- script(src="lib/jquery/dist/jquery.js")
    script(src="lib/bootstrap/dist/js/bootstrap.js")
    script(src="lib/underscore/underscore.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js")
    script(src="lib/moment/moment.js")
    script(type="text/javascript", src="lib/bootstrap-calendar/js/language/tr-TR.js")
    script(src="lib/bootstrap-calendar/js/calendar.min.js")
    script(src="lib/bootstrap-calendar/js/app.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js")
    script(src="scripts/toastrJs.js")
        