doctype
html
  head
    title #{title}

    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset="utf-8")
    meta(name="generator", content="Bootply")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker3.standalone.min.css')
    link(rel='stylesheet', href='/lib/bootstrap-calendar/css/calendar.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')

    link(rel="stylesheet", href="css/screen.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
    link(rel="stylesheet", href="lib/flatpickr/dist/flatpickr.min.css")
  body
    nav.navbar.navbar-default
      .container
        .navbar-header(style='width:100%')
          a(href="#").navbar-brand Eren Yatçılık
          a(href="/logout" style='margin-top: 7px;').btn.btn-default.pull-right#logout Çıkış

    .container
      div
        ul(role="tablist").nav.nav-pills.nav-justified
          li(role="presentation").active
            a(href="#calendarYatch", aria-controls="profile", role="tab", data-toggle="tab") Takvim
          li(role="presentation")
            a(href="#register", aria-controls="register", role="tab", data-toggle="tab") Kayıt

        .tab-content
          div(role="tabpanel").tab-pane.active#calendarYatch
            .page-header
              .pull-right.form-inline
                .btn-group
                  button(data-calendar-nav="prev").btn.btn-primary <<
                  button(data-calendar-nav="today").btn Bugün
                  button(data-calendar-nav="next").btn.btn-primary >>
                .btn-group
                    button(data-calendar-view="year").btn.btn-warning Yıl
                    button(data-calendar-view="month").btn.btn-warning.active Ay
                    button(data-calendar-view="week").btn.btn-warning Hafta
                    button(data-calendar-view="day").btn.btn-warning Gün
              h3
            #calendar
          div(role="tabpanel").tab-pane#register
            form(method="post", action="/etkinlik/kaydet", role="form", data-toggle="validator").form-horizontal
              .form-group
                label.col-sm-2.control-label Tekne
                .col-sm-10
                  select(name="bootType", required, data-error=" seçmediniz!").form-control
                    option(value="") Seçiniz
                    each boat in model.boats
                      option(value="#{ boat._id }") #{ boat.name }
                  div.help-block.with-errors
              .form-group
                label.col-sm-2.control-label Başlık
                .col-sm-10
                  input(name="eventSubject", required data-error="Etkinliğe ait bir başlık girmediniz!", value="").form-control.title-event
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Başlangıç Tarihi
                .col-sm-10
                  input(name="startDate", required, type="text", data-error="Etkinliğin başlangiç tarihini giriniz!", style="background-color: white !important").form-control.flatpickr
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Bitiş Tarihi
                .col-sm-10
                  input(name="endDate", required, data-error="Etkinliğin bitiş tarihini giriniz!", style="background-color: white !important").form-control.flatpickr
                  div.help-block.with-errors
              .form-group
                label(for="inputEmail3").col-sm-2.control-label Kişi Sayısı
                .col-sm-10
                  input(name="guestCount", required, type="number", data-error="Etkinliği katılacak kişi sayısını giriniz!", value="").form-control
                  div.help-block.with-errors
              .form-group.input-type-2
                label(for="inputEmail3").col-sm-2.control-label Başlangıç - Bitiş Yeri
                .col-sm-10
                  input(name="startLocation", required, data-error="Başlangıç yerini giriniz!", value="").form-control
                  input(name="endLocation", required, data-error="Bitiş yerini giriniz!", value="").form-control
                  div.help-block.with-errors
              .form-group.money-type
                label(for="inputEmail3").col-sm-2.control-label Ödeme
                .col-sm-10
                  input( name="payment", required, type="number", data-error="Ödeme miktarını giriniz!", value="").form-control
                  //label TL
                  select(name="moneyType1", required).form-control
                    option TL
                    option Dolar
                    option Euro
                  div.help-block.with-errors
              .form-group.money-type
                label(for="inputEmail3").col-sm-2.control-label Satış
                .col-sm-10
                  input( name="sale", required, type="number", data-error="Ödeme miktarını giriniz!", value="").form-control
                  //label TL
                  select(name="moneyType2", required).form-control
                    option TL
                    option Dolar
                    option Euro
                  div.help-block.with-errors
              .form-group.money-type
                label(for="inputEmail3").col-sm-2.control-label kapora
                .col-sm-10
                  input( name="earnestMoney", required, type="number", data-error="Kapora miktarını giriniz!", value="").form-control
                  //label TL
                  select(name="moneyType3", required).form-control
                    option TL
                    option Dolar
                    option Euro
                  div.help-block.with-errors
              .form-group
                  label.col-sm-2.ontrol-label Açıklama
                  div.col-sm-10
                    textarea(rows="5", name="eventDescription", required, data-error="Etkinlik açıklamasını giriniz!").form-control 
                    div.help-block.with-errors
              .form-group
                div.col-sm-offset-2.col-sm-10
                  .checkbox
                    label
                      input(type="checkbox", name="hasMeal")
                      |Yemekli
                      div.help-block.with-errors
              .form-group
                div.col-sm-offset-2.col-sm-10
                  input(type="submit", value="Tamam", name="saveEvent").btn.btn-success.pull-right.event-send

          div(tabindex="-1", role="dialog", aria-labelledby="myModalLabel").modal.fade#events-modal
            .modal-dialog(role="document")
              .modal-header
                button(type="button", data-dismiss="modal", aria-label="Close").close
                  span(aria-hidden="true") &times;
                h4().modal-title#myModalLabel Modal title
              .modal-body
    hr
    hr
    hr
    footer
      .container
        i Eren Yatçılık
        a(href="#").pull-right up

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="lib/bootstrap/dist/js/bootstrap.js")
    script(src="lib/underscore/underscore.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js")
    script(src="lib/moment/moment.js")
    script(type="text/javascript", src="lib/bootstrap-calendar/js/language/tr-TR.js")
    script(src="lib/bootstrap-calendar/js/calendar.min.js")
    script(src="lib/bootstrap-calendar/js/app.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js")
    script(src="scripts/toastrJs.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src="lib/flatpickr/dist/flatpickr.min.js")
    script(src="lib/flatpickr/dist/l10n/tr.js")

    script(src="scripts/eventJs.js")
    script.
      eventJs.init();
      $(".flatpickr").flatpickr({
        time_24hr: true,
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        defaultDate: new Date(),
        minuteIncrement: 30,
        locale: "tr"
      });
    